.footerLink {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;

  color: inherit;

  &:hover {
    color: #a855f7;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 0;
    background: linear-gradient(to right, #a855f7, #ec4899);
    transition: all 0.3s ease;
  }

  &:hover::before {
    width: 100%;
  }
}

:global(.dark) .footerLink:hover {
  color: white;
}
