.fadeTop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 180px;
  z-index: 10;
  pointer-events: none;

  background: linear-gradient(to bottom, #000, transparent);
}

.fadeBottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 180px;
  z-index: 10;
  pointer-events: none;

  background: linear-gradient(to top, #000, transparent);
}

.animateUp {
  animation: scrollUp 25s linear infinite;
}

.animateDown {
  animation: scrollDown 25s linear infinite;
}

@keyframes scrollUp {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-66.666%);
  }
}

@keyframes scrollDown {
  from {
    transform: translateY(-66.666%);
  }

  to {
    transform: translateY(0%);
  }
}

@media (max-width: 1280px) {
  .animateUp,
  .animateDown {
    animation-duration: 20s;
  }
}

@media (max-width: 768px) {
  .fadeTop,
  .fadeBottom {
    height: 100px;
  }
}
